<h1>Recipe Lookup</h1>

<form>
  <div class="form-group">
    <label for="recipe">Recipe</label>
    {{input value=recipe id="recipe"}}
  </div>



  <button class="btn btn-primary" {{action 'recipeLookup'}}>Submit</button>
</form>
