<div class="navbar">
  <div class="row">
    <h2 class="col-xs-6">{{#link-to "index"}}Home{{/link-to}}</h2>
    <h2 class="col-xs-6">{{#link-to "contact"}}Contact{{/link-to}}</h2>
    <h2 class="col-xs-6">{{#link-to "about"}}about{{/link-to}}</h2>
  </div>
</div>

{{outlet}}
