
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
       <li><h2> {{#link-to "index"}}Home{{/link-to}}</h2></li><br>
       <li> <h2> {{#link-to "contact"}}Contact{{/link-to}}</h2></li><br>
       <li><h2>{{#link-to "about"}}about{{/link-to}}</h2></li><br>
     </ul>
   </div>
</nav>


{{outlet}}
