<div class="card-header">
  <h1 class="card-header">Welcome to food-times</h1>
  {{new-recipe saveRecipe2="saveRecipe3"}}
</div>


<div>
  <ul>
    {{#each model as |recipe|}}
      {{recipe-tile recipe=recipe edit="edit"}}
    {{/each}}
  </ul>


</div>
