<h1 class="jumbotron">food-times</h1>
<h3 class="well">Welcome food-times</h3>

<hr>

<hr>

<div>
  <ul>
     {{#each model as |recipe|}}
       {{recipe-tile recipe=recipe}}
     {{/each}}
  </ul>



</div>
