<h1 class="jumbotron">food-times</h1>
<h3 class="well">Welcome food-times</h3>

<hr>
  {{new-recipe recipe=recipe}}
<hr>

<div>
  <ul>
    {{#each model as |recipe|}}
      {{recipe-tile recipe=recipe}}
    {{/each}}
  </ul>


</div>
